{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>R@m$hiv Portfolio</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="icon" sizes="180x180" href="https://avatars.githubusercontent.com/u/67915300?s=460&u=4722b60ccb9ed1368998b80f05416e73bab2469c&v=4">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
</head>
<body class="dark-theme">
  <div class="header">
<p>
  <p id='logo'><span>R@m$hiv</span></p>
  <center>
        <img class="circular" src="https://avatars.githubusercontent.com/u/67915300?s=460&u=f014bdc11c8ede68748d110fc2a7c664dc3d037f&v=4" alt="Ramshiv" width="200" height="200">
          <p id=soci><em><strong><u>Social:</u> </strong> </em> </p>
          <h1 id='name-tag'><em>Shiva Raman </em></h1>
          <h1 id='designation-tag'>Associate Consultant at Atos Syntel</h1>
  </center>
          <a href="https://www.linkedin.com/in/shiva-raman-8a2556147/"><em><strong></strong></em><img class="linkedin" src='https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg' width='35' height='35'/></img></a>
          <a  href="https://twitter.com/Ramshiv76115274"><em><strong><img class="twitter" src='https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png' width='40' height='40'/></strong></em></a>
          <a  href="https://github.com/Ramshiv7"><em><strong><img class="github" src='https://image.flaticon.com/icons/png/512/25/25231.png' width='35' height='35'/></strong></em></a>
          <a href="https://www.instagram.com/ramshiv_7/"> <img class="insta" src="https://image.flaticon.com/icons/png/512/87/87390.png" width="30" height="30"> </a>
          </p>
  <p >
    <center>
      </div>
    </center>
  </p>
 <hr >
  <br>
    <div class="summary">
       <ul>
        <h3><strong><em> <u>Summary</u></em> </strong></h3>
    <p >
      <li> Associate Consultant at Atos Syntel with over 2.6+ years of successful experience in Banking/ Financial Vertical.</li>
    </p>
        <p >
      <li>Great Team Player with Dire passion for programming, analysing, problem solving and solution building.</li>
    </p>
    <p>
      <li>Skilled Python Developer with area of expertise on the Back-end Technologies. </li>
    </p>
    <p>
      <li> Engineering Graduate focused on Computer science and Engineering.</li>
      </ul>
    </p>
    </div>
     <hr >
    <div class="work-exp">
    <h3><strong><em><u>Work Experience</u></em> </strong></h3>
    <h4>Company: Atos Syntel</h4>
    <h4>Designation: Associate Consultant</h4>
    <h4>Role: Developer</h4>
    <table>
      <th>Year</th>
      <th>Client</th>
      <tr>
        <td><em>May 2018 - Present :</em> </td>
        <td><em>PayPal</em></td>
      </tr>
    </table>
    <ul>
      <h4><u><strong>Responsibility</strong></u> :-</h4>
    </ul>
      <ul>
  <p><li>Developed New Features, Automated Manual work and Fixed bugs in the PayPal Internal Data Movement Product called DMR</li></p>
  <p><li>Collaborated with other developers to identify and alleviate software errors and inefficiencies in DMR Framework</li></p>
  <p><li>Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs, and enhancements.</li></p>
  <p><li>Debugged and troubleshot DMR Framework for PayPal - solving technical issues quickly and accurately.</li></p>
  <p><li>Discussed product improvement required in the project with customers, collected feedback on different stages and directly addressed concerns.</li></p>
  <p><li>Collaborated with Multiple Teams to Integrate & Deploy New Features in DMR Framework.</li></p>
  <p><li>Trained and Collaborated with team of 12 developers and discussed issues to provide resolution and apply best practices.</li></p>
  <p><li>Collaborated on all stages of systems development lifecycle, from requirement gathering to production releases.</li></ul></p>

    </div>
    <hr >
    <div class="skills">
    <h3> <em> <u>Skills</u> </em> </h3>
    <table>
      <tr>
        <table cellspacing='10px'>
          <tr>
            <td>Python</td>
            <td>⭐⭐⭐⭐⭐</td>
            <td>HTML</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>
              CSS
            </td>
            <td>
              ⭐⭐⭐⭐
            </td>
            <td>
              SQL
            </td>
            <td>
              ⭐⭐⭐⭐
            </td>
          </tr>
          <tr>
            <td>
              Bootstrap
            </td>
            <td>
              ⭐⭐⭐⭐
            </td>
            <td>
              GIT
            </td>
            <td>
              ⭐⭐⭐⭐⭐
            </td>
          </tr>
          <tr>
            <td>
              Django
            </td>
            <td>
              ⭐⭐⭐⭐
            </td>
            <td>REST API</td>
            <td>⭐⭐⭐⭐</td>

          </tr>
          <tr>
            <td>
              MongoDB
            </td>
            <td>
              ⭐⭐⭐
            </td>
            <td>Photography</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>GitHub</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
      </tr>
    </table>

  </div>
  <hr >
  <div class="projects">
    <h3><strong><em><u>Personal Projects</u></em> </strong></h3>
    <ul>
            {% for project in projects %}
        <li><h2>{{ project.title }}<br></h2></li>
            <img src="{{ project.image.url }}" width="100" height="100" >
            <br><br>{{ project.description }}
            <br>
            <br>
            <strong>CodeBase: </strong>
            {% if project.url %}
            <a href="{{ project.url }}">{{ project.url }}</a>
            <br><br>
            {% endif %}
            {% endfor %}
        </li>
    </ul>
    </div>
    <hr >
  </body>
    <footer>
      <p><h2>
        Have an exciting project where you need some help?
Send me over a message, and <a href="feedback.html">let's chat</a>.
     </h2></p>
    </footer>

</html>
